/* #################### */
/* ##### EJEMPLOS ##### */
    div#maponline.map90{        
        height: -o-calc(100% - 65px); /* opera */
        height: -webkit-calc(100% - 65px); /* google, safari */
        height: -moz-calc(100% - 65px); /* firefox */    
    }      
/* #################### */
div#odometer div#speed {
    overflow:hidden; 
    position:absolute; 
    bottom:0px; 
    right:150px; 
    width:250px; 
    height:225px;
}
div#llaves {    
    position:absolute; 
    bottom:0px; 
    right:535px; 
    color:#ccc;
}
div#date {    
    color:          #fff;
    position:       absolute; 
    bottom:            10px; 
    right:           380px;  
    font-size:  20px;
    text-align: center;
}
div#time {        
    color:          #fff;
    position:       absolute; 
    bottom:            10px; 
    right:           80px;  
    font-size:  20px;
    width: 80px;  
    text-align: center;
}
div#distance {    
    color:          #fff;
    position:       absolute; 
    bottom:            55px; 
    right:           220px;  
    font-size:  20px;
    width:100px;  
    text-align: center;
}
div#buttons_history {    
    position:absolute; 
    bottom:30px; 
    right:220px; 
    width:100px;
}
.fields1 {
    float:left;
	height: 60px;
}
.fields2 {
    float:left;
	height: 120px;
}
.vehicle_active{
    background-color: #7c7bad;
    border-radius: 0;
    color: white;
    width:          100%;     
}
.select{
    background-color: #7c7bad;
}

.type_report {
    border-radius: 0;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
}

div#filtro{    
    z-index:        100; 
    text-align:     left; 
    position:       absolute; 
    top:            10px; 
    left:           310px;  
    height:         41px; 
    color:          #aaa; 
    padding:        5px;
    background-color:#efffff;
}

div#maponline{        
    z-index:        100; 
    position:       absolute; 
    bottom:         0px; 
    left:           0px;   
    width:          100%;     
    height:         100%;
}      


/* ####################################### */
/* ######      DESKTOP GRANDE       ###### */
/* ####################################### */
@media (min-width:1200px)
{
    div#odometro div#centro {
        bottom:         0px; 
        left:           100px; 
    }    
    .filtro{            
        width:          140px;     
    }      
    div#filtro{    
        width: -o-calc(100% - 290px); /* opera */
        width: -webkit-calc(100% - 290px); /* google, safari */
        width: -moz-calc(100% - 290px); /* firefox */    
    }

}


/* ####################################### */
/* ######      DESKTOP MEDIO        ###### */
/* ####################################### */
@media (max-width:1199px) and (min-width:992px)
{
    div#odometro div#centro {
        bottom:         0px; 
        left:           100px; 
    }
    .filtro{            
        width:          140px;     
    }          
    div#filtro{    
        width: -o-calc(100% - 290px); /* opera */
        width: -webkit-calc(100% - 290px); /* google, safari */
        width: -moz-calc(100% - 290px); /* firefox */    
    }

}


/* ####################################### */
/* ######         TABLETS           ###### */
/* ####################################### */
@media (max-width:991px) 
{
    div#odometro  div#centro {
        bottom:         0px; 
        right:          -160px; 
        width:          190px; 
    }
    div#odometer div#batery,  div#odometer div#gas, div#odometer div#distance {
        display:        none;
    }
    div#odometer div#speed {
        overflow:hidden; 
        position:absolute; 
        bottom:-50px; 
        right:0px; 
        width:250px; 
        height:225px;
    }
    

    div#date {    
        color:          #fff;
        position:       absolute; 
        bottom:            0px; 
        right:           85px;  
        font-size:  15px;
    }
    div#time {    
        bottom:            15px; 
        right:           125x;  
        font-size:  15px;
    }
    div#distance {    
        color:          #fff;
        position:       absolute; 
        bottom:            75px; 
        right:           100px;  
        font-size:  20px;
    }
    div#odometer div#llaves {    
        bottom:0px; 
        right:230px; 
    }
    

    a.o_sub_menu_logo {
        display:        none;
    }
    .filtro{            
        width:          80px;     
    }      
    div#filtro{    
        width: -o-calc(100% - 350px); /* opera */
        width: -webkit-calc(100% - 350px); /* google, safari */
        width: -moz-calc(100% - 350px); /* firefox */    
    }
    div#buttons_history {    
        bottom:20px; 
        right:250px; 
    }
    

}